.efTBa-d {
    background-image:url(https://hyperpc.ru/images/product/dynamic/update_landing/main/hpc-dynamic-3in1-block.jpg);
    background-position: 50%;
    margin-bottom: -6%;
    margin-top: -5%;
}
