html {
  overflow-x: hidden;
}
body{
  overflow-y: hidden;
}

.gamingContainer {
  transform: translateY(10vh);
  text-align: center;
  background-color: #1c1c1c;
}
.gamingContainer h2 {
  color: #fff;
  font-size: 50px;
}
.h2change {
  font-size: 50px;
  color: #fff;
  margin-top: 5%;
}
.pLarge {
  color: #ccc;
  font-size: 25px;
}
.pSmall {
  color: #999;
  font-size: 20px;
  margin-bottom: 1%;
}

.videoLumen{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.lumenH3 {
  text-align: center;
  color: white;
  font-size: 60px;
}
.d-flexBlock {
  display: flex;
  height: 85vh;
}
.lumenTextBlock {
  transform: translate(15%, 5%);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.lumenTextBlock h5 {
  color: #999;
  font-weight: 700;
  font-size: 25px;
}
.lumenTextBlock h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}
.lumenTextBlock p {
  margin-top: 20px;
  text-align: start;
  color: #999;
  width: 65%;
  font-size: 17px;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: 50vh;
  background-color: #111;
  /* margin-bottom: 5%; */
}
.navLinks p {
  color: #ccc;
}
.navLinks button {
  color: #fff;
  background-color: #f51616;
}
.navLinks button a {
  font-size: 20px;
}
.navLinks button a:hover {
  color: #fff;
}
.navLinks img {
  width: 70%;
}
/* .navLinksSticky {
  z-index: 1;
  position: sticky;
  top: -11%;
} */
.navLinks a {
  margin-top: 20px;
  font-size: 30px;
  color: #fff;
}
.navLinks a:hover {
  color: red;
}
.blocksImageLumen {
  margin-bottom: 10px;
}
.blocksImageLumen img {
  margin-left: 10px;
}
.backgroundTExt {
  background: #111;
}
.secondBlockText {
  transform: translate(45%, 30%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
}
.secondBlockText h2 {
  color: #999;
  font-size: 25px;
}
.secondBlockText h3 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.secondBlockText p {
  text-align: start;
  color: #ccc;
  font-size: 18px;
}
.blocksParams {
  transform: translate(45%, 10vh);
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin-bottom: 5%;
}
.blocksParams p {
  text-align: start;
  color: #999;
  line-height: 1;
  font-size: 15px;
}
.p2 {
  color: #fff !important;
  font-weight: 600;
  font-size: 35px !important;
}
.backImage {
  width: 130%;
  margin-left: -15%;
}
.informationForLumenFirst {
  background-color: #111;
  height: 50vh;
  display: flex;
}
.blockWidth {
  display: flex;
  /* width: 50%; */
}
.blockWithImageLumen img {
  width: 51vw;
  margin-left: 60%;
}
.lineLI2 {
  list-style-type: none;
  border-top: 10px solid #999;
}
.BlockTextLumen {
  transform: translate(20vw, 15vh);
}
.BlockTextLumen h2 {
  color: #76b900;
}
.BlockTextLumen h3 {
  color: #fff;
}
.BlockTextLumen p {
  margin-top: 10px;
  color: #ccc;
  width: 60%;
  font-size: 17px;
}
.divLine {
  border-top: 1px solid #999 !important;
}
.informationForLumen2 {
  background-color: #111;
  height: 40vh;
  display: flex;
}
.blockWidth2 {
  display: flex;
}
.BlockTextLumen2 {
  transform: translate(20vw, 5vh);
}
.BlockTextLumen2 h2 {
  color: #999;
}
.BlockTextLumen2 h3 {
  color: #fff;
}
.BlockTextLumen2 p {
  margin-top: 10px;
  color: #ccc;
  width: 35%;
  font-size: 17px;
}
.charac {
  display: flex;
  margin-top: 10%;
}
.charac p {
  color: #999;
  line-height: 1.5;
  font-size: 18px;
}
.charac div {
  width: 17vw;
}
.blockWithImage2 img {
  margin-top: 3%;
}
.charac2 {
  transform: translate(-10vw, 5vh);
  display: flex;
  width: 30vw;
  flex-wrap: wrap;
  /* margin-left: -60%; */
}
.charac2 p {
  color: #999;
  line-height: 1.5;
  font-size: 16px;
}
.charac2 div {
  margin-left: 15%;
}
.blockWithImage1 img {
  width: 45vw;
  margin-left: -15%;
}
.informationForLumen3 {
  background-color: #111;
  height: 60vh;
  display: flex;
}
.BlockTextLumen3 {
  transform: translate(20vw, 5vh);
}
.BlockTextLumen3 h2 {
  color: #999;
}
.BlockTextLumen3 h3 {
  color: #fff;
}
.BlockTextLumen3 p {
  margin-top: 10px;
  color: #ccc;
  width: 50%;
  font-size: 17px;
}
.blockWithImage4Lumen img {
  width: 50vw;
  margin-top: 5%;
}
.informationForLumen4{
  background-color: #111;
  height: 80vh;
  display: flex;
}
.ulList {
  margin-left: -3%;
  width: 60%;
}
.ulList li{
  list-style-type: none;
  color: #ccc;
  margin-top: 10px;
  padding-top: 10px;
}
.ulList li span {
  margin-left: 5%;
  text-align: end;
}
.paramsP {
  text-align: center;
  color: #999;
}
.blocksParams2{
  width: 55%;
  display: flex;
  flex-wrap: wrap;

}
.blocksParams2 div{
  width: 50%;
  margin-top: 5%;
}

.backLinks{
  background-color: #111;
}
.navLinks2 {
  margin-left: 5%;
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: 50vh;
  background-color: #111;
  /* margin-bottom: 5%; */
}
.navLinks2 p {
  color: #ccc;
}
.navLinks2 button {
  color: #fff;
  background-color: #f51616;
}
.navLinks2 button a {
  font-size: 20px;
}
.navLinks2 button a:hover {
  color: #fff;
}
.navLinks2 img {
  width: 70%;
}

.navLinks2 a {
  margin-top: 20px;
  font-size: 30px;
  color: #fff;
}
.navLinks2 a:hover {
  color: red;
}
